// fonts
$font_family: 'Josefin Sans', sans-serif;
$font_secondary_family: 'Acme', sans-serif;

// colors
$light_grey: #D9D9D9;
$aqua_blue: #4484CE;
$light_orange: #F19F4D;
$dark_grey: #555;
$white: #fff;

//elements layout.
$button_padding: 5px 15px;
$line_height: 1.5em;
$std_width: 100%;
$std_padding: 5px;